#toolbar {
    background-color: #fefae0
}

#homeButton, #cardButton {
    background-color: #55a630;
    border: none;
    color: #0F1008;
    padding: 16px 32px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-family: Consolas, monospace;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#homeButton:hover, #cardButton:hover {
    background-color: #325B1C;
    color: #000000;
}

form.card-form {
    display: table;
    margin: 10 10 10 10;
    padding: 10px;
    background-color: #fefae0;
    border: solid;
    border-color: grey;
    border-radius:  2px;
}

div.card-form {
    display: table-row;
}

.card-form > label, input {
    display: table-cell;
    margin-bottom: 10px;
}

.card-form > label {
    padding-right: 10px;
}
